/*------------------------------------*\
  #ROOT AND #BODY
\*------------------------------------*/

:root {
  --primary-color: #645fce;
  --secondary-color: #e7eaf6;
  --dark-color: #40356f;
  --background-color: #fff;
  --no-text-decoration: none;
  --link_hover: #40356f;
  --link_active: #40356f;
  --big-font: 34px;
  --medium-font: 24px;
  --small-font: 20px;
  --extra-small-font: 18px;
  --box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.05);
}

body {
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: var(--big-font);
  font-weight: bolder;
}

h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: var(--big-font);
  font-weight: bolder;
  background-color: var(--background-color);
  background-image: linear-gradient(
    90deg,
    rgba(230, 185, 128, 1) 0%,
    rgba(131, 58, 180, 0.9) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h4,
h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: var(--medium-font);
}

p {
  font-family: "Poppins", sans-serif;
}

/*------------------------------------*\
  #LINKS 
\*------------------------------------*/

a {
  color: var(--primary-color);
  text-decoration: var(--no-text-decoration);
}

a:active {
  color: var(--link_active);
}

@media screen and (min-width: 435px) {
  .social-media {
    width: 100%;
    height: auto;
  }
}

/*------------------------------------*\
  #NAVIGATION IN HEADER
\*------------------------------------*/

.page-header_item {
  color: var(--primary-color);
  text-decoration: var(--no-text-decoration);
  font-size: var(--small-font);
  display: inline-block;
  margin-left: 10px;
}

.navigation-list__item:hover,
.navigation-list__item:active {
  color: var(--link_active);
}

.navigation-list li {
  display: inline;
  padding-left: 20px;
}

/*------------------------------------*\
  #PROFILEPICTURE AND #COLUMNS ON FRONTPAGE
\*------------------------------------*/

.profile_portrait {
  width: 300px;
  margin: 0px 40px 0px 20px;
  border-radius: 5%;
  box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.12);
}

.column-profile {
  margin-left: auto;
  margin-bottom: 50px;
}

.column-picture {
  margin-left: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .row {
    display: block;
  }
}

/*------------------------------------*\
  #BUTTON-HTML-FORM and ON FRONTPAGE
\*------------------------------------*/

button {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  transition-duration: 0.5s;
  line-height: 18px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
}

button:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
  opacity: 0.8;
  cursor: pointer;
}

/*------------------------------------*\
  #LOGO AND #HEADER
\*------------------------------------*/

.logo {
  max-height: 200px;
  max-width: 200px;
  margin-top: -50px;
  position: relative;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header_item {
  flex: 0 1 200px;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

/*------------------------------------*\
  #ABOUT PAGE
\*------------------------------------*/

.about {
  text-align: center;
}

li {
  list-style-type: none;
}

table {
  margin: 40px auto 40px auto;
  width: 50%;
}

table,
th {
  border: 0.5px solid;
  font-family: "Poppins", sans-serif;
}

.skills {
  text-align: left;
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin: 5px 25px 5px 25px;
}

.grids_item h2 {
  padding-top: 50px;
}

@media all and (max-width: 500px) {
  .grids {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grids {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 750px) {
  .grids {
    grid-gap: 10px;
  }
}

/*------------------------------------*\
  #ICONS ON ABOUT PAGE
\*------------------------------------*/

@keyframes swing {
  0%,
  100% {
    transform: rotate(-30deg);
  }

  20% {
    transform: scale(0.95);
  }

  50% {
    transform: rotate(30deg);
  }

  80% {
    transform: scale(0.95);
  }
}

.iconify.t {
  margin: 20px;
  grid-gap: 10px;
  animation: swing 5s infinite ease-in-out;
}

/*------------------------------------*\
  #GRIDS ON WORK PAGE
\*------------------------------------*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  margin: 5px 25px 5px 25px;
}

.grid_item {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  h2 {
    font-size: var(--extra-small-font);
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  h2 {
    font-size: var(--extra-small-font);
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  h2 {
    font-size: var(--extra-small-font);
  }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.page-footer {
  margin-top: 50px;
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-footer p {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

/*------------------------------------*\
  #ADDITIONAL-BUTTONS
\*------------------------------------*/

.button {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  transition-duration: 0.5s;
  line-height: 22px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.cv {
  text-align: center;
  padding: 60px 0px 60px;
  transition-duration: 0.5s;
}

.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/*------------------------------------*\
  #SVG IMAGE ANIMATED
\*------------------------------------*/

@keyframes color-change {
  from {
    fill: #a8adff;
  }

  to {
    fill: #eacda3;
  }
}
.circle {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(-200px, -300px);
  }

  to {
    transform: translate(0, -300px);
  }
}

.cloud {
  animation: 20s cloud-move infinite alternate linear;
}

/*------------------------------------*\
  #CONTACT-FORM
\*------------------------------------*/

.contact-form {
  padding: 50px;
  background: var(--secondary-color);
  max-width: 500px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  font-family: "Poppins", sans-serif;
}

.contact-me {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.showMenu {
  transform: translateY(0);
}
