/*------------------------------------*\
  #ROOT AND #BODY
\*------------------------------------*/

body {
  background: #fff;
  font-family: 'Roboto',
    sans-serif;

}

h1 {
  color: undefined;
  font-family: 'Roboto',
    sans-serif;
  text-align: center;
  font-size: 34px;

}

h2 {
  color: undefined;
  font-family: 'Roboto',
    sans-serif;
  text-align: center;
  font-size: 34px;

}

h3 {
  color: undefined;
  font-family: 'Roboto',
    sans-serif;
  text-align: center;
  font-size: 34px;

}

h4 {
  color: undefined;
  font-family: 'Roboto',
    sans-serif;
  text-align: center;
  font-size: 34px;

}

p {
  font-family: 'Roboto',
    sans-serif;
  font-size: 24px;
}

/*------------------------------------*\
  #EXTERNAL-FONT-STYLING
\*------------------------------------*/

.t-font {
  font-family: 'Poppins',
    sans-serif;
  font-size: 30px;
}

span {
  font-family: 'Great Vibes',
    cursive;
}

/*------------------------------------*\
  #LINKS 
\*------------------------------------*/

a {
  color: #645fce;
  text-decoration: none;
}

a:active {
  color: #40356F;
}

/*------------------------------------*\
  #NAVIGATION IN HEADER
\*------------------------------------*/

.page-header_item {
  color: #645fce;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;

}

.navigation-list__item:hover {
  color: #40356F;
}

.navigation-list__item:active {
  color: #40356F;
}

.navigation-list li {
  display: inline;

}

/*------------------------------------*\
  #PROFILEPICTURE AND #BANNER ON FRONTPAGE
\*------------------------------------*/



.profile {
  background: #E7EAF6;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.05);

}

.profile_portrait {
  float: left;
  width: 250px;
  padding-top: 10px;
  margin: 0px 40px 0px 20px;
  border-radius: 5%;

}

/*------------------------------------*\
  #BUTTON ON FRONTPAGE
\*------------------------------------*/

.btn-cnt {
  margin-bottom: 15px;
}

/*------------------------------------*\
  #BUTTON-HTML-FORM ON FRONTPAGE
\*------------------------------------*/


button {
  border: 2px solid #645fce;
  border-radius: 4px;
  background-color: #645fce;
  color: #fff;
  font-size: 18px;
  transition-duration: 0.5s;
  line-height: 18px;
  padding: 15px 30px;
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.05);

}


button:hover {
  color: #fff;
  background-color: #645fce;
  opacity: 0.8;
  cursor: pointer;
}


/*------------------------------------*\
  #LOGO AND #HEADER
\*------------------------------------*/

.logo {
  max-height: 200px;
  max-width: 200px;
  margin-top: -50px;
  position: relative;

}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;

}

.page-header_item {
  flex: 0 1 200px;

}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;

}

/*------------------------------------*\
  #ABOUT PAGE
\*------------------------------------*/

.about {
  text-align: center;

}

li {
  list-style-type: none;
}


table {
  margin: 40px auto 40px auto;
  width: 50%;
}

table,
th {
  border: 0.5px solid;
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin: 5px 25px 5px 25px;

}

.grids_item h2 {
  padding-top: 50px;
}

.skills {
  text-align: left;

}

/*------------------------------------*\
  #ICONS ON ABOUT PAGE
\*------------------------------------*/

@keyframes swing {

  0%,
  100% {
    transform: rotate(-30deg);
  }

  20% {
    transform: scale(.95);
  }

  50% {
    transform: rotate(30deg);
  }

  80% {
    transform: scale(.95);
  }
}

.iconify {
  margin: 20px;
  grid-gap: 10px;
  animation: swing 5s infinite ease-in-out;

}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.page-footer p {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

/*------------------------------------*\
  #GRIDS WORK PAGE
\*------------------------------------*/


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  margin: 5px 25px 5px 25px;

}


.grid_item {
  background: #E7EAF6;
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.05);

}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 18px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  h2 {
    font-size: 18px;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  h2 {
    font-size: 18px;
  }

}

/*------------------------------------*\
  #ADDITIONAL-BUTTONS
\*------------------------------------*/

.button {
  border: 2px solid #645fce;
  border-radius: 4px;
  background-color: #645fce;
  color: #fff;
  font-size: 18px;
  transition-duration: 0.5s;
  line-height: 22px;
  padding: 15px 30px;
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.05);

}

.cv {
  text-align: center;
  padding: 60px 0px 60px;
  transition-duration: 0.5s;

}

.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/*------------------------------------*\
  #SVG ANIMATED
\*------------------------------------*/

@keyframes color-change {
  from {
    fill: #A8ADFF;
  }

  to {
    fill: #EACDA3;
  }
}

.circle {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

}

@keyframes cloud-move {
  from {
    transform: translate(-200px, -300px);
  }

  to {
    transform: translate(0, -300px);
  }
}

.cloud {
  animation: 20s cloud-move infinite alternate linear;
}



/*------------------------------------*\
  #CONTACT-FORM
\*------------------------------------*/

.contact-form {
  padding: 50px;
  background: #E7EAF6;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.05);
}

.contact-me {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;

}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
