/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
/*------------------------------------*\
  #ROOT AND #BODY
\*------------------------------------*/
/*------------------------------------*\
  #LINKS 
\*------------------------------------*/
/*------------------------------------*\
  #NAVIGATION IN HEADER
\*------------------------------------*/
/*------------------------------------*\
  #PROFILEPICTURE AND #COLUMNS ON FRONTPAGE
\*------------------------------------*/
/*------------------------------------*\
  #BUTTON ON FRONTPAGE
\*------------------------------------*/
/*------------------------------------*\
  #BUTTON-HTML-FORM and ON FRONTPAGE
\*------------------------------------*/
/*------------------------------------*\
  #LOGO AND #HEADER
\*------------------------------------*/
/*------------------------------------*\
  #ABOUT PAGE
\*------------------------------------*/
/*------------------------------------*\
  #ICONS ON ABOUT PAGE
\*------------------------------------*/
@-webkit-keyframes "swing" {
  0%,
  100% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  20% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  50% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  80% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@keyframes "swing" {
  0%,
  100% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  20% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  50% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  80% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
/*------------------------------------*\
  #GRIDS ON WORK PAGE
\*------------------------------------*/
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
/*------------------------------------*\
  #ADDITIONAL-BUTTONS
\*------------------------------------*/
/*------------------------------------*\
  #SVG IMAGE ANIMATED
\*------------------------------------*/
@-webkit-keyframes "color-change" {
  from {
    fill: #a8adff;
  }
  to {
    fill: #eacda3;
  }
}
@keyframes "color-change" {
  from {
    fill: #a8adff;
  }
  to {
    fill: #eacda3;
  }
}
@-webkit-keyframes "cloud-move" {
  from {
    -webkit-transform: translate(-200px, -300px);
    transform: translate(-200px, -300px);
  }
  to {
    -webkit-transform: translate(0, -300px);
    transform: translate(0, -300px);
  }
}
@keyframes "cloud-move" {
  from {
    -webkit-transform: translate(-200px, -300px);
    transform: translate(-200px, -300px);
  }
  to {
    -webkit-transform: translate(0, -300px);
    transform: translate(0, -300px);
  }
}
/*------------------------------------*\
  #CONTACT-FORM
\*------------------------------------*/
&:root {
  --primary-color: #645fce;
  --secondary-color: #e7eaf6;
  --dark-color: #40356f;
  --background-color: #fff;
  --no-text-decoration: none;
  --link_hover: #40356f;
  --link_active: #40356f;
  --big-font: 34px;
  --medium-font: 24px;
  --small-font: 20px;
  --extra-small-font: 18px;
  --box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.05);
}
body {
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: var(--big-font);
  font-weight: bolder;
}
h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: var(--big-font);
  font-weight: bolder;
  background-color: var(--background-color);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(230, 185, 128, 1)),
    to(rgba(131, 58, 180, 0.9))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(230, 185, 128, 1) 0%,
    rgba(131, 58, 180, 0.9) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgba(230, 185, 128, 1) 0%,
    rgba(131, 58, 180, 0.9) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h4 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: var(--medium-font);
}
h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: var(--medium-font);
}
p {
  font-family: "Poppins", sans-serif;
}
a {
  color: var(--primary-color);
  -webkit-text-decoration: var(--no-text-decoration);
  text-decoration: var(--no-text-decoration);
  &:active {
    color: var(--link_active);
  }
}
.page-header_item {
  color: var(--primary-color);
  -webkit-text-decoration: var(--no-text-decoration);
  text-decoration: var(--no-text-decoration);
  font-size: var(--small-font);
  display: inline-block;
  margin-left: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  &:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
  }
}
.navigation-list__item {
  &:hover {
    color: var(--link_active);
  }
  &:active {
    color: var(--link_active);
  }
}
.navigation-list {
  li {
    display: inline;
  }
}
.profile_portrait {
  width: 300px;
  margin: 0px 40px 0px 20px;
  border-radius: 5%;
  -webkit-box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.12);
}
.column-profile {
  float: left;
  width: 50%;
  padding: 10px;
  margin-bottom: 50px;
  height: 300px;
}
.row {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
button.btn-cnt {
  margin-left: 40%;
}
button {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  line-height: 18px;
  padding: 15px 30px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  &:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
    opacity: 0.8;
    cursor: pointer;
  }
}
.logo {
  max-height: 200px;
  max-width: 200px;
  margin-top: -50px;
  position: relative;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}
.about {
  text-align: center;
}
li {
  list-style-type: none;
}
table {
  margin: 40px auto 40px auto;
  width: 50%;
  border: 0.5px solid;
  font-family: "Poppins", sans-serif;
}
th {
  border: 0.5px solid;
  font-family: "Poppins", sans-serif;
}
.skills {
  text-align: left;
}
.grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin: 5px 25px 5px 25px;
}
.grids_item {
  h2 {
    padding-top: 50px;
  }
}
.iconify.t {
  margin: 20px;
  grid-gap: 10px;
  -webkit-animation: swing 5s infinite ease-in-out;
  animation: swing 5s infinite ease-in-out;
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  margin: 5px 25px 5px 25px;
}
.grid_item {
  background: var(--secondary-color);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.page-footer {
  margin-top: 50px;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  p {
    font-size: 18px;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.button {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  line-height: 22px;
  padding: 15px 30px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  text-align: center;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:focus {
    cursor: pointer;
    opacity: 0.8;
  }
}
.cv {
  text-align: center;
  padding: 60px 0px 60px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.circle {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.cloud {
  -webkit-animation: 20s cloud-move infinite alternate linear;
  animation: 20s cloud-move infinite alternate linear;
}
.contact-form {
  padding: 50px;
  background: var(--secondary-color);
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  font-family: "Poppins", sans-serif;
}
.contact-me {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}
input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
@media screen and (min-width: 435px) {
  .social-media {
    width: 100%;
    height: auto;
  }
}
@media all and (max-width: 500px) {
  .grids {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  h2 {
    font-size: var(--extra-small-font);
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grids {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  h2 {
    font-size: var(--extra-small-font);
  }
}
@media all and (max-width: 750px) {
  .grids {
    grid-gap: 10px;
  }
  .grid {
    grid-gap: 10px;
  }
  h2 {
    font-size: var(--extra-small-font);
  }
}
